body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  background: #f7f9fc;
  color: #333;
}

header {
  background-color: #111;
  color: #fff;
  padding: 2.5rem;
  text-align: center;
}

header h1 {
  margin-bottom: 0.3rem;
}

nav {
  background: #222;
  text-align: center;
  padding: 0.8rem 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav a {
  color: #fff;
  margin: 0 15px;
  text-decoration: none;
  font-weight: 600;
}

nav a:hover {
  text-decoration: underline;
}

section {
  max-width: 900px;
  margin: 2rem auto;
  padding: 1.5rem;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

h2 {
  border-bottom: 2px solid #e0e0e0;
  padding-bottom: 0.4rem;
  margin-bottom: 1rem;
}

.project {
  margin-bottom: 1.8rem;
  padding: 1rem;
  border-left: 4px solid #406883;
  background: #f9fbff;
  border-radius: 8px;
}

.project a {
  color: #2b98e0;
  text-decoration: none;
  font-weight: 600;
}

.project a:hover {
  text-decoration: underline;
}

.private-repo {
  font-style: italic;
  color: #666;
}

.job {
  margin-bottom: 1.5rem;
}



footer {
  background: #111;
  color: #aaa;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
  font-size: 0.9rem;
}
